body { 
margin: 0 auto;
background-color: rgb(27, 153, 136);
width: 100%;
}

.desplegable { 
    background-color: rgb(27, 153, 136);
display: inline-block;
width:100%;
text-align: center;
}

.desplegable div { 
background-color: rgb(27, 153, 136);
display: inline-block;
}



nav {
background-color: rgb(128, 128, 121);
 list-style-type: none;
text-align: center; 
padding: 5px;
margin: 0;
  }
  
  nav li {
display: inline-block;
font-size: 20px;
padding: 20px;
  }


  .buscar {
text-align: center;
    
  }


  .buscar h2 {
    font-weight: 600;
    color: blue;
        
      }
    


footer{ 
height: 100px;
width: 100%;
background-color: lightskyblue;
border: 1px;
color: deeppink;
font-size: 40px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;

}